@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  width: 16.666667%; /* the width of the sidebar */
  transition: 0.5s cubic-bezier(0.36, -0.01, 0, 0.77);
  flex-shrink: 0;
}

.sidebar.closed {
  margin-left: -16.666667%; /* start off the screen */
  transition: 0.1s cubic-bezier(0.36, -0.01, 0, 0.77);
}

/* Responsive Mobile */
@media (max-width: 640px) {
  .sidebar {
    width: 100%;
  }
  .sidebar.closed {
    margin-left: -100%;
  }
}
